<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SGADV</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>tsgrldocregistrado</servlet-name>
    <servlet-class>gob.sct.sipmm.servlet.TSGRLDocRegistrado</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TRunJasperReport</servlet-name>
    <servlet-class>com.micper.util.TRunJasperReport</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DownloadINTDOCDIG</servlet-name>
    <servlet-class>gob.sct.sipmm.dao.DownloadINTDOCDIG</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadINTDocs</servlet-name>
    <servlet-class>gob.sct.sipmm.dao.UploadINTDocs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConsultaExcel</servlet-name>
    <servlet-class>gob.sct.sipmm.dao.ConsultaExcel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadADVDocs</servlet-name>
    <servlet-class>gob.sct.sipmm.dao.UploadADVDocs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadOficioADV</servlet-name>
    <servlet-class>gob.sct.sipmm.dao.UploadOficioADV</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadOficioADV2016</servlet-name>
    <servlet-class>gob.sct.sipmm.dao.UploadOficioADV2016</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadNotifica</servlet-name>
    <servlet-class>gob.sct.sipmm.dao.UploadNotifica</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadContestaNotifica</servlet-name>
    <servlet-class>gob.sct.sipmm.dao.UploadContestaNotifica</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getDocTab</servlet-name>
    <servlet-class>gob.sct.sipmm.dao.getDocTab</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadDocHistorico</servlet-name>
    <servlet-class>gob.sct.sipmm.dao.DownloadDocHistorico</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadDocHistorico</servlet-name>
    <servlet-class>gob.sct.sipmm.dao.UploadDocHistorico</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DownloadFormatoSolicitud</servlet-name>
    <servlet-class>gob.sct.sipmm.dao.DownloadFormatoSolicitud</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>TRunJasperReport</servlet-name>
    <url-pattern>/TRunJasperReport.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tsgrldocregistrado</servlet-name>
    <url-pattern>/tsgrldocregistrado</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadINTDOCDIG</servlet-name>
    <url-pattern>/DownloadINTDOCDIG</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadINTDocs</servlet-name>
    <url-pattern>/UploadINTDocs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConsultaExcel</servlet-name>
    <url-pattern>/ConsultaExcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadADVDocs</servlet-name>
    <url-pattern>/UploadADVDocs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadOficioADV</servlet-name>
    <url-pattern>/UploadOficioADV</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadOficioADV2016</servlet-name>
    <url-pattern>/UploadOficioADV2016</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadNotifica</servlet-name>
    <url-pattern>/UploadNotifica</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadContestaNotifica</servlet-name>
    <url-pattern>/UploadContestaNotifica</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getDocTab</servlet-name>
    <url-pattern>/getDocTab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadDocHistorico</servlet-name>
    <url-pattern>/UploadDocHistorico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadDocHistorico</servlet-name>
    <url-pattern>/DownloadDocHistorico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadFormatoSolicitud</servlet-name>
    <url-pattern>/DownloadFormatoSolicitud</url-pattern>
  </servlet-mapping>
</web-app>